:root {
  --bs-primary: #c05621;
  --bs-primary-rgb: 192, 86, 33;
  --bs-link-color: #c05621;
  --bs-link-hover-color: #9a431a;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
